<div class="tilemaker-wrapper">

	<div class="geojson_input_container">
		
        <form autocomplete="off">

        	<textarea class="geojson_input" on-keydown='keydown' rows="4">{{geojson_input}}</textarea>

        </form>


	</div>

	<div class="slider_container">

		<div class="filter_slider"></div>

	</div>

	<!--div class="control_container">

		<div on-tap="['create']" class="create_the_map">Next</div>

	</div-->

	<div class="geojson_output_container" contenteditable="true">{{geojson_output}}</div>

</div>

	


