@import "mq";
@import "fonts";
@import "palette";
@import "leaflet";
@import "slider";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.tilemaker-wrapper {
	width: 90%;
	max-width: 960px;
	margin: auto;
	padding: 20px;

	.geojson_input {
		width: 100%;
	}

	.slider_container {
		width: 100%;
	}

	.filter_slider {
		width: 100%;
	}

	.geojson_output_container {
		width: 100%;
		min-height: 100px;
		margin-top: 20px;
		border: 1px solid lightgrey;
		background-color: white;
		padding: 10px;
	}

	.create_the_map {
		width: 80px;
		height: 80px;
		margin: auto;
		line-height: 80px;
		text-align: center;
		color: white;
		border-radius: 50%;
		cursor: pointer;
		background-color: red;
	}

}

	#map {
		display: relative;
	}




